@import "mixins/mixins-master";
@import "fc-calculator";

@font-face {
    font-family: "icons-set";
    src: url(../icons/fonts/icons-set.eot);
    src: url(../icons/fonts/icons-set.svg);
    src: url(../icons/fonts/icons-set.ttf);
    src: url(../icons/fonts/icons-set.woff);
}